@import './setup.css';
@import '../App.css';

.navColumn {
  background-color: var(--darkBlue);
  text-align: center;
  width: 100%;
  /* min-height: 80vh; */
}

.navColumn .wrapper {
  width: 90%;
}

header .imgContainer {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 50%;
  border-bottom: 2px solid var(--purple);
}

header .imgContainer img {
  padding-bottom: 20px;
}

h1,
header h2 {
  color: var(--white);
}

.navList {
  margin: 40px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navList li:nth-of-type(-n + 4) {
  margin-bottom: 30px;
}

.navList li a {
  color: var(--purple);
  font-size: 1.3rem;
  padding: 3px;
}

.navList .active {
  color: var(--darkBlue);
  background-color: var(--purple);
  border-radius: 3px;
}

/**** screen meets or exceeds 480px****/

@media (min-width: 480px) {
  header .imgContainer {
    width: 40%;
  }
}

/**** screen meets or exceeds 768px ****/

@media (min-width: 768px) {
  header .imgContainer {
    width: 30%;
  }
}

@media (min-width: 900px) {
  header .imgContainer {
    width: 20%;
  }
}

/**** screen meets or exceeds 1400px ****/

@media (min-width: 1100px) {
  .navColumn {
    width: 30%;
  }
  @media (min-width: 900px) {
    header .imgContainer {
      width: 60%;
    }
  }
}
