@import './setup.css';
@import '../App.css';

section {
  color: var(--darkBlue);
  width: 100%;
  background-color: var(--white);
}

section .wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
}

.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
