@import './setup.css';
@import '../App.css';

.skills .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills .imgContainer {
  flex-basis: 50%;
  border-radius: 0;
}

.iconContainer1,
.iconContainer2,
.iconContainer3 {
  padding: 20px;
}

.iconContainer1 {
  background-color: var(--purple);
}

.iconContainer2 {
  background-color: var(--darkBlue);
}

.iconContainer3 {
  background-color: var(--lightBlue);
}
