@import './setup.css';
@import '../App.css';

.workIcons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.workIcons a {
  font-size: 2.5rem;
  padding: 5px 10px;
}

.workIcons .active {
  color: var(--purple);
  background-color: var(--darkBlue);
  border-radius: 3px;
}

/**** screen meets or exceeds 480px****/

@media (min-width: 480px) {
}

/**** screen meets or exceeds 768px ****/

@media (min-width: 768px) {
  .workIcons {
    width: 70%;
  }
}

/**** screen meets or exceeds 992px****/

@media (min-width: 992px) {
}

/**** screen meets or exceeds 1400px ****/

@media (min-width: 1400px) {
}
