@import './setup.css';
@import '../App.css';

.workIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.workIcons li:nth-of-type(1) {
  display: none;
}

.workIcons a {
  font-size: 2.5rem;
  padding: 5px 10px;
}

.workIcons .active {
  color: var(--purple);
  background-color: var(--darkBlue);
  border-radius: 3px;
}
