:root {
  --lightPurple: #98878f;
  --purple: #985e6d;
  --lightBlue: #494e6b;
  --darkBlue: #192231;
  --white: #ffffff;

  --headingFont: 'Major Mono Display', monospace;
  --bodyFont: 'Roboto Mono', monospace;
}

html {
  font-size: 125%;
}

body {
  font-family: var(--bodyFont);
  background-color: var(--darkBlue);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.sectionWrapper {
  position: relative;
}

.about,
.contact,
.work {
  padding: 50px 0 60px;
}

.flexParent {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  overflow: hidden;
  margin: 0 auto;
  border-radius: 3px;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.contact .imgContainer,
.about .imgContainer,
.work .imgContainer {
  margin-bottom: 30px;
}

h1 {
  font-family: var(--headingFont);
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: var(--darkBlue);
}

p,
li {
  font-size: 0.9rem;
}

/**** NAV ****/

.navColumn {
  background-color: var(--darkBlue);
  text-align: center;
  width: 100%;
}

.navColumn .wrapper {
  width: 90%;
}

header .imgContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  border-bottom: 2px solid var(--purple);
}

header .imgContainer img {
  padding-bottom: 20px;
}

h1,
header h2 {
  color: var(--white);
}

.navList {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  width: 80%;
  margin: 0 auto 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navList li a,
.socials li a {
  color: var(--purple);
  font-size: 1.3rem;
}

.navList li {
  margin-bottom: 30px;
}

.navList li a {
  padding: 3px;
}

.navList .active,
.socials li a:hover {
  color: var(--darkBlue);
  background-color: var(--purple);
  border-radius: 3px;
}

.socials li a {
  padding: 0 5px;
}

.socials li a:hover {
  padding: 0 5px;
}

@media (min-width: 480px) {
  header .imgContainer {
    width: 40%;
  }
}

@media (min-width: 768px) {
  header .imgContainer {
    width: 30%;
  }

  .contact .imgContainer,
  .about .imgContainer,
  .work .imgContainer,
  .copyWrap,
  form {
    margin: 0 auto 30px;
    width: 80%;
  }
}

@media (min-width: 900px) {
  header .imgContainer {
    width: 30%;
  }
  .contact .imgContainer,
  .about .imgContainer,
  .work .imgContainer,
  .copyWrap,
  form {
    width: 70%;
  }
}

@media (min-width: 1100px) {
  .flexParent {
    display: flex;
    flex-direction: row;
  }
  .navColumn {
    width: 30%;
  }

  .sectionWrapper {
    width: 70%;
    position: relative;
  }

  header .imgContainer {
    margin-top: 60px;
    width: 60%;
  }

  .about,
  .contact,
  .work,
  .socials {
    padding-top: 60px;
  }

  .contact .imgContainer,
  .about .imgContainer,
  .work .imgContainer,
  .copyWrap,
  form {
    width: 60%;
  }
}
