:root {
  --lightPurple: #98878f;
  --purple: #985e6d;
  --lightBlue: #494e6b;
  --darkBlue: #192231;
  --white: #ffffff;

  --headingFont: 'Major Mono Display', monospace;
  --bodyFont: 'Roboto Mono', monospace;
}

html {
  font-size: 125%;
  /*
    62.5% = units of 10px
    93.7% = units of 15px
    125% = units of 20px
     */
}

body {
  font-family: var(--bodyFont);
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.section .wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.section {
  color: var(--darkBlue);
  width: 100%;
  min-height: 100vh;
  border: 1px solid plum;
}

.about,
.contact,
.work {
  margin: 50px 0 60px;
}

.flexParent {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  overflow: hidden;
  margin: 0 auto;
  border-radius: 3px;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.contact .imgContainer,
.about .imgContainer,
.workIcons {
  margin-bottom: 30px;
}

h1 {
  font-family: var(--headingFont);
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

p,
li {
  font-size: 0.9rem;
}

.box {
  width: 100%;
  height: 200px;
}
